<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.bw.qa.ExtentReportListener.ExtentReporterNG"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.bw.qa.testcases.HomePageTest"/>
      <class name="com.bw.qa.testcases.NewArrivalsPageTest"/>
      <class name="com.bw.qa.excel.ExcelDataProviderTest"/>
      <class name="com.bw.qa.testcases.FictionBookPageTest"/>
      <class name="com.bw.qa.testcases.BoxSetsPageTest"/>
      <class name="com.bw.qa.testcases.BookTest"/>
      <class name="com.bw.qa.testcases.LoginPageTest"/>
      <class name="com.bw.qa.testcases.BestSellersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
